body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

h1 {
  counter-reset: subsection;
}

h2::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) " ";
}
